@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url("../public/icons/calendarIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-width: thin;
}